<!DOCTYPE html>
<html>
    <title>
        Comp 2406 Movie
    </title>
    <head>
        <%- include('public/partials/head'); %>
    </head>
    <body id="moviepage" class="pageview">
        <header>
            <%- include('public/partials/header'); %>
        </header>

        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                    <% if(movie.Poster === 'N/A') { %>
                        <div class="movieimage" background-image style = "background-image: url('../images/unknown-icon.png');"></div>
                    <% } else { %>
                        <div class="movieimage" background-image style = "background-image: url(' <%= movie.Poster %>');"></div>
                    <% } %>
                    
                    <p class="bigtext"><%= movie.Title %></p>
                    <p class="littletext">Rated <%= movie.Rated %></p>
                    <p class="littletext"><%= movie.Released %></p>
                    <p class="littletext">Genre: <%= movie.Genre %></p>
                    <p class="littletext">Average review: 5/7</p>
                </div>
                <div class="card">
                    <p class="bigtext">Plot</p>
                    <p class="littletext"> <%= movie.Plot %> </p>
                </div>
                <div class="card">
                    <p class="bigtext">You may also like</p>
                    <img src= "<%= similar.Poster%>" onclick="movie('<%= similar.imdbID %>')">
                </div>
            </div>
            <div class="rightcolumn">
                <div class="column">
                    <div class="card">
                        <p class="littletext">Actors/Actresses</p>
                        <% let actors = movie.Actors.split(", ")%>
                        <% for(let i in actors) {%>
                            <p class="littletext"><a href="/person/<%= actors[i] %>"><%= actors[i] %></a></p>
                        <% } %>
                        
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <p class="littletext">Reviews</p>
                        <p class="littletext">5/7 Perfect movie - TPlanet Lover</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>