<!DOCTYPE html>
<html>
  <title>Comp 2406 Profile</title>
  <head>
    <%- include('public/partials/head'); %>
  </head>

  <body id="profilepage" class="pageview">
    <header>
      <%- include('public/partials/header'); %>
  </header>
    
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <div class="profilepic"></div>
                <p class="bigtext"> <%= username %> </p>
                <p class="littletext">6 Followers, Following 24</p>
            </div>
            <div class="card">
                <p>Joined at date: September 16th 2020</p>
                <p></p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="column">
                <div class="card">
                    <p style="font-size: larger; text-align: center;">Movies Recently Watched</p>
                    <% for(i in movies) { %>
                        <img src="<%= movies[i].Poster %>" alt="treasureplanet" onclick="movie('<%= movies[i].imdbID %>')">
                    <% } %>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p style="font-size: larger; text-align: center;">Reviews</p>
                    <% for(let i in reviews) { %>
                        <% if(reviews[i].Poster === 'N/A') { %>
                            <img src= "../images/unknown-icon.png" onclick="movie('<%= reviews[i].imdbID %>')">
                        <% } else { %>
                            <img src= "<%=reviews[i].Poster%>" onclick="movie('<%= reviews[i].imdbID %>')">
                        <% } %>
                        <% for(let j = 0; j < reviews[i].Score; j++) { %>
                            <img src="../images/star.png" alt="" style="mix-blend-mode: multiply; height: 40px; width: auto;">
                        <% } %>
                        <br>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>
    
  </body>
</html>
